.scrollContainer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 3rem 10rem;
  background: black;
}

.scrollBtn {
  background: transparent;
  font-size: 3rem;
  cursor: pointer;
  color: blue;
  border: 50%;
}

.scrollIcon {
  border-radius: 100%;
  border: none;
}

/* Media Queries Phone */
@media screen and (max-width: 600px) {
  .scrollContainer {
    padding: 1.5rem 5rem;
  }
}
