.header__container {
  width: 100vw;
}

#header {
  background: blue;
  padding-top: 3rem;
}

.header__logo {
  width: 100%;
}

/* Media Queries Tablet */
@media screen and (max-width: 1024px) {
  #header {
    padding: 0;
  }
  #header img {
    display: none;
  }
}

/* Media Queries Phone */
@media screen and (max-width: 600px) {
  .header__container {
    display: none;
  }
}
