#navbar {
  background: black;
}

.navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  color: white;
  background: black;
  z-index: 15;
}

.navLogo img {
  display: none;
}

.navList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 25px;
  width: 100px;
}

.navLink:hover {
  background: blue;
  transition: 1s;
}

.navBtn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  display: none;
  opacity: 0;
  font-size: 2.5rem;
}

@media screen and (max-width: 1024px) {
  #navbar {
    background: blue;
  }
  .navContainer {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 1rem;
    background-color: blue;
  }

  .navLogo img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 120px;
    height: 80px;
  }

  .navBtn {
    display: contents;
    opacity: 1;
  }

  .nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    gap: 1rem;
    background: blue;
    transform: translateY(-200vh);
    transition: all 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .navList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .navLink:hover {
    background: black;
    transition: 1s;
  }

  .navCloseBtn {
    display: flex;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .responsiveNav {
    transform: none;
  }
}
